<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.repeatcard.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,LockedOrientationActivity"
        tools:targetApi="n">
        <activity
            android:name=".AddFlashcardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.util.GalleryPicker"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.directories.AddDirectoryScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.flashcarddetail.FlashcardDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.directory.DirectoryScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.review.FlashcardReviewScreen"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.quiz.QuizScreen"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>
